body {
  background: url("bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(31, 31, 63);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1.5rem;
}
p {
  text-align: center;
  padding-top: 1.5rem;
  font-weight: 500;
}

.form-bttns {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.form-bttns > a {
  background-color: #5e60ce;
  font-weight: 500;
  padding: 0.5rem 1.3rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: background-color, font-weight, border, 0.2s ease;
}
.form-bttns > a:hover {
  background-color: inherit;
  font-weight: bold;
  border: 1px solid;
}

ul {
  padding: 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
li {
  background: linear-gradient(#2c2f48 70%, #554f79);
  padding: 1rem;
  box-shadow: 0 0px 5px rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li strong {
  max-width: 200px;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li em {
  display: block;
  font-size: small;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

.gif {
  margin: 1rem;
  text-align: center;
}
img {
  width: 200px;
}

@media (min-width: 800px) {
  a {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  body {
    background-size: contain;
  }
  ul {
    font-size: small;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: rgb(31, 31, 63);
  }
}
